#!/bin/bash

# dot_config/mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
# dot_config/mise/config.desktop.toml hash: {{ include "dot_config/mise/config.desktop.toml" | sha256sum }}

if command -v mise >/dev/null 2>&1; then
  mise bootstrap --env {{ .hostType }}
fi 
