{{- if not (index . "hostType") -}}
{{ fail "chezmoi.yaml: hostType is missing. Run `chezmoi init` or `chezmoi update --init` to update the local configuration file." }}
{{- end -}}

{{- if not (index . "hostTypeConfirmed") -}}
{{ fail "chezmoi.yaml: hostTypeConfirmed is false or missing. Run `chezmoi init` or `chezmoi update --init` to update the local configuration file." }}
{{- end -}}
